div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block ;
}
#box1{
    position: static;
    background-color: red;
}
#box2{
    position: relative;
    top: 10px;
    background-color: green;
}
#box3{
    position: absolute;
    top: 10px;
    background-color: blue;
}
#box4{
    position: fixed;
    left: 10px;
    bottom: 0;
    background-color: pink;
}