*{
    color: white;
}
#navbar{
     height: 60px;
     background-color: #0f1111;

} 
button{
    background-color: #f08804;
} 
#logo{
    color: #f08804;
    font-size: 25px;
}
a{
    margin-right: 200px;
    text-decoration: none;
}
.ContentBox{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}
#content{
    height: 615px;
}
footer{
    text-align: center;
    background-color: #0f1111;
    color: white;

}